# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

~$*.docx
.tmp

Engineering calculator/UI_files/__init__.py
Engineering calculator/Helpers/__init__.py
Engineering calculator/GUI/__init__.py

calculator_config.ini